*{
    font-family: 'Montserrat', sans-serif;

}

/* Book-Now Button css style */
.Book-Now{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}









/* 4rd number image hedding */
.hight{
    height: 600px;
}